.movie-cards-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

#title-movie-cards {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #07BEB8;
  text-align: center;
}

#no-movie {
  color: #07BEB8;
  text-align: center;
  font-size: 22px;
  margin-top: 3rem;
}

#not-allowed-message {
  color: #07BEB8;
  text-align: center;
  margin: 0 auto;
}

#banner-not_allowed {
  background-image: asset-url('santa-hat.jpg');
}

#not-allowed-back-link {
  margin-left: 3rem;
}
