#winner-container {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 4rem;
  h1 {
    color: #07BEB8;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.links {
  display: flex;
  justify-content: space-around;
}
