<div class="container">
  <div class="form-container">
    <%= simple_form_for (@hat) do |f| %>
      <%= f.input :name, label: 'Nom du chapeau', placeholder: 'Chapi Chapo' %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, 'Créer', class: 'button full-primary-button' %>
    <% end %>
  </div>

</div>
